{% extends 'blog/base.html' %}

{% block content %}

<table class="table">
    <tr>
        <th>title</th>
        <td>{{ post.title }}</td>
    </tr>
    <tr>
        <th>author</th>
        <td>{{ post.author }}</td>
    </tr>
    <tr>
        <th>created_date</th>
        <td>{{ post.created_date }}</td>
    </tr>
    <tr>
        <th>published_date</th>
        <td>{{ post.published_date }}</td>
    </tr>
    <tr>
        <th>content</th>
        <td>
            <img src="" alt="">
            <a href="{{ post.upload.url }}">
                <img src="{{ post.upload.url }}" alt="">
            </a>
            
            {{ post.content }}
        </td>
    </tr>
</table>

<a href="{% url 'blog:index' %}" class="btn btn-primary">목록</a>
<a href="{% url 'blog:write' %}" class="btn btn-primary">글쓰기</a>
{% endblock %}

