{% extends 'blog/base.html' %}

{% block content %}

<table class="table">
    <tr>
        <th>title</th>
        <td>{{ post.title }}</td>
    </tr>
    <tr>
        <th>author</th>
        <td>{{ post.author }}</td>
    </tr>
    <tr>
        <th>created_date</th>
        <td>{{ post.created_date }}</td>
    </tr>
    <tr>
        <th>published_date</th>
        <td>{{ post.published_date }}</td>
    </tr>
    <tr>
        <th>content</th>
        <td>
            {% if post.upload%}
            <img src="" alt="">
            <a href="{{ post.upload.url }}">
                <img src="{{ post.upload.url }}" alt="">
            </a>
            {% endif %}
            {{ post.content }}
        </td>
    </tr>
</table>

<div class="text-center">
    <a href="{% url 'blog:index' %}" class="btn btn-default">목록</a>
    <a href="{% url 'blog:modi' post.pk %}" class="btn btn-primary">수정</a>
</div>
{% endblock %}

